h1 {
  font-size: 16px;
}

body {
  background-image: url(https://images.unsplash.com/photo-1535905557558-afc4877a26fc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80);
}

.table-holder {
  backdrop-filter: blur(8px);
  width: 60vw;
  height: 70vh;
  overflow: auto;
  display: none;
}

.book-holder tr button {
  float: right;
}

.form-section {
  display: none;
  height: 70vh;
  overflow: auto;
}

.on {
  display: flex !important;
}

.contacts-section {
  display: none;
  height: 70vh;
  overflow: auto;
}
